.ldsRing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 21px;
  margin: 0px;
  border: 3px solid var(--wvp-color-light-slate);
  border-radius: 76%;
  animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--wvp-color-light-slate) transparent transparent transparent;
}

.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}

.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}

.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes ldsRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
